---
title : "the BEST Personal Finance Manager for FREE Users, full stop."
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "Elisa",
  "abstract": "An open source modern music player"
  "applicationCategory": "Multimedia",
  "author": {
    "@type": "Organization",
    "name": "KDE",
    "url": "https://kde.org"
  },
  "license": "https://invent.kde.org/kde/elisa/-/blob/master/COPYING",
  "availableOnDevice": "PC",
  "operatingSystem": "Linux, Microsoft Windows",
  "screenshot": "https://cdn.kde.org/screenshots/elisa/elisa.png",
  "offers": {
    "@type": "Offer",
    "price": "0.0",
    "priceCurrency": "USD"
  }
}
</script>

<main>
  <section class="container text-center">
    <img src="https://kde.org/applications/icons/org.kde.elisa.svg" alt="Elisa logo" class="my-3" height="128px">
    <h1 class="main-title">Elisa</h1>
    <h2 class="main-subtitle">A music player for music lover</h1>
    <a href="/download/" class="noblefir">Download</a>
    <img src="https://cdn.kde.org/screenshots/elisa/elisa.png" alt="Elisa screenshot" class="my-4 img-fluid" />
  </section>
  
  <section class="gradient py-4 container-fluid">
    <h2 class="text-center main-subtitle">Listen to your music</h2> 
    <div class="row my-5">
      <img src="https://cdn.kde.org/screenshots/elisa/elisa.png" alt="" class="col-12 col-md-6 img-fluid" />
      <div class="col-12 col-md-6">
        <ul>
          <li>Play all your local music</li>
          <li>Play all your local music</li>
          <li>Play all your local music</li>
          <li>Play all your local music</li>
        </ul>
      </div>
    </div>
  </section>
</main>
